<div class="absolute top-2 left-0 right-0 z-20 w-full bg-transparent px-4 sm:px-10">
    <div class="flex flex-col items-center justify-between sm:flex-row">
        <!-- Menu -->
        <nav class="flex flex-col space-y-3 text-lg text-white items-center sm:flex-row sm:space-x-12 sm:space-y-0 sm:text-xl">
            <%= link_to 'Home', '/home', class: 'hover:text-gray-300' %>
            <%= link_to 'Scarica Itinerario', '/files/Guida_di_Viaggio.pdf', class: 'hover:text-gray-300', download: true %>
            <%= link_to 'Recensioni', '/recensioni', class: 'hover:text-gray-300' %>
            <%= link_to 'Contatti', '/contatti', class: 'hover:text-gray-300' %>
            <% if user_signed_in? %>
                <%= link_to 'Logout', destroy_user_session_path, class: 'hover:text-gray-300' %>
            <% end %>
        </nav>
    </div>
</div>
